<div *ngIf="vehicles.length > 0; else noVehicles">
  <div *ngFor="let vehicle of vehicles" class="vehicle-card">
    <h2 (click)="vehicleClicked(vehicle)"> {{ vehicle.title }}</h2>
    <img [src]="vehicle.photo" alt="{{ vehicle.title }}" width="400" height="300">
    <p>{{ vehicle.description }}</p>
    <ul>
      <li>Kategoria: {{ vehicle.category }}</li>
      <li>Marka: {{ vehicle.brand }}</li>
      <li>Model: {{ vehicle.model }}</li>
      <li>Rok: {{ vehicle.year }}</li>
      <li>Przebieg: {{ vehicle.mileage }} km</li>
      <li>Pojemność silnika: {{ vehicle.engine_capacity }} cm³</li>
      <li>Moc: {{ vehicle.power }} KM</li>
      <li>Typ paliwa: {{ vehicle.fuel_type }}</li>
    </ul>
    <hr>
    <div *ngIf="selectedVehicle">
      Marka <input type="text" [(ngModel)]="selectedVehicle.brand"/><br>
      Model <input type="text" [(ngModel)]="selectedVehicle.model"/><br>
      <button (click)="updateVehicle()">PUT</button>
    </div>
  </div>
</div>

<ng-template #noVehicles>
  <p>Brak pojazdów do wyświetlenia.</p>
</ng-template>



